.have {
    text-decoration: line-through;
}

.small {
    font-size: .7rem !important;
}

/* It is important !    Selector Specificity (0,2,1)
button.btn.small {
     font-size: .7rem;
}
*/

button:disabled {
    cursor: not-allowed;
}

